/* * {
  margin: 0;
} */
/* .app {
  min-height: 66vh;
  display: grid;
  grid-template-columns: 34rem 44rem;
  column-gap: 4rem;
  align-items: start;
} */

.form-add-product {
  width: 300px;
  height: 150px;
  background-color: orange;
  text-align: center;
  position: absolute;
  top: 50px;
  left: 350px;
}

.button {
  background-color: red;
  color: #343a40;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  width: 50%;
}

form > label,
input,
button {
  margin-top: 35px;
}

.itemList {
  width: 260px;
  height: auto;
  background-color: orange;
  list-style: none;
}

.list-button {
  position: relative;
  padding: 10px;
  /* text-align: center; */
}

.list-button > button {
  position: absolute;
  top: -26px;
  left: 150px;
  padding: 10;
  text-align: center;
}

/* .sidebar li {
  display: grid;
  grid-template-columns: 4.8rem 1fr auto;
  align-items: center;
  column-gap: 1.6rem;

  padding: 1.2rem;
  border-radius: 7px;
  transition: 0.5s;
} */

/* .sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
} */
