/* * {
  margin: 0;
} */

.form-add-product {
  width: 300px;
  height: 150px;
  background-color: orange;
  text-align: center;
}

.button {
  background-color: red;
  color: #343a40;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  width: 50%;
}

form > label,
input,
button {
  margin-top: 35px;
}

.itemList {
  width: 260px;
  height: 200px;
  background-color: orange;
  list-style: none;
}
